/* App.css */

/* 基本的なスタイルリセット */


/* ボディ全体のスタイル */
.lostde-body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    height: -webkit-fill-available;
}

/* コンテナのスタイル */
.lostde-container {
    background-color: #eae6e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    padding: 20px;
}

.lostde-ctp {
    border-top: solid 3px #6091d3;
}

.lostde-box {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;
    background: #eae6e6;
    /* border-top: solid 3px #6091d3; */
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.642)
}


/* Topセクションのスタイル */
.lostde-top {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* flex-start */
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.lostde-logo-image {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}


/* .top img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
} */

.lostde-tag-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fafafa;
    flex: 1;
    margin-left: 20px;
    float: right;
    /*右揃え */
}

.lostde-tag-list {
    list-style-type: disc;
    padding-left: 20px;
}

.lostde-tag-list li {
    margin-bottom: 5px;
}

/* DetailDisplayセクションのスタイル */
.lostde-detail-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 20px;
    justify-content: center; */
}

.lostde-detail-button {
    background-color: #a3a5a7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    /* justify-content: center; */
}

.lostde-detail-button:hover {
    background-color: #0056b3;
}

.lostde-detail-content {
    text-align: center;
    margin-bottom: 10px;
}

.lostde-inbtn {
    position: fixed;
    bottom: 20px;
    /* 画面下からの距離を調整 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /* 幅を100%に設定 */
    max-width: 350px;
    /* 最大幅を指定 */
    background-color: #d7d7d7ec;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.642);
    font-weight: bold;
    color: #6091d3;
    z-index: 1000;
    /* 他の要素よりも前面に表示するためにz-indexを設定 */
}

/* Inputセクションのスタイル */
.lostde-input {
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: space-around; */
    align-items: center;
    /* gap: 10px; */
}

.lostde-plus-button,
.lostde-camera-button {
    background-color: #6091d3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.lostde-message-button {
    background-color: #6091d3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.lostde-plus-button:hover,
.lostde-camera-button:hover,
.lostde-message-button:hover {
    background-color: #006eff;
}

/* Cameraボタン内の画像のスタイル */
.lostde-camera-button img {
    max-width: auto;
    height: 18px;
}