:root {
    --color-background: #ffffff;
    --color-white: #edf5ff;
    --color-light-gray: #ffffff;
    --color-dark-gray: rgba(55, 55, 55, 0.934);
    --color-primary: #0c6dffc9;
    --color-primary-dark: #043ed1;
    --color-section-background: #f9f9f9fe;
    --color-section-title: #198a771e;
    --color-border: #043ed1;
    --color-detailborder: #000;
    --color-tagmark: transparent;
}

/* 基本的なスタイルリセット */

/* フォント */
.lostdetail-font,
.lostdetail-section,
.lostdetail-title,
.lostdetail-content {
    font-family: "cursive", sans-serif;
}


/* ボディ全体のスタイル */
.lostdetail-body {
    font-family: sans-serif;
    background-color: var(--color-background);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* min-height: 100vh; */
}

/* コンテナのスタイル */
.lostdetail-container {
    background-color: #72727237;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.lostdetail-ctp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 基本的なスタイル */
.lostdetail-box {
    padding: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--color-dark-gray);
    background: var(--color-background);
    /* border-radius: 10px; */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
    border-color: var(--color-primary);
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    /* padding: auto; */
}

/* inbtnのためのスタイル */
.lostdetail-box-ex {
    padding: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--color-dark-gray);
    background: var(--color-light-gray);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* 写真タイトル */
.lostdetail-image-container {
    /* position: relative; */
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.lostdetail-title-text {
    /* position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%); */
    padding: 1px 5px;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 4px solid #000;
}

.lostdetail-tag-title {
    /* position: relative;
    top: -65px;
    left: 50%;
    transform: translateX(-50%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    border-bottom: 4px solid #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 詳細情報の枠組み */
.lostdetail-collapse {
    border-radius: 8px;
    transition: height 300ms ease;
    overflow: hidden;
    color: rgb(35, 35, 35);
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    width: 100%;
}

.lostdetail-visible {
    height: auto;
    /* 高さを自動調整 */
}

.lostdetail-hidden {
    height: 0;
    overflow: hidden;
    /* 隠れたコンテンツを非表示に */
}


/* 詳細のスタイル */
.lostdetail-section {
    margin-bottom: 10px;
    /* border: 1px solid #c9c9c9; */
    border-radius: 10px;
    background-color: white;
    padding: 0;
}

/* 詳細のタイトルスタイル */
.lostdetail-title {
    /* background-color: #00000007; */
    padding: 5px;
    display: inline-block;
    /* border-bottom: 1px solid var(--color-detailborder); */
    /* font-weight: bold; */
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    /* text-align: center; */

}

/* 詳細のスタイル2 */
.lostdetail-content {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: var(--color-dark-gray);
    background-color: #00000011;
}

.lostdetail-timestamp {
    font-size: 14px;
    color: var(--color-dark-gray);
}

/* Topセクションのスタイル */
.lostdetail-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* 写真のためのスタイル */
.lostdetail-logo-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
}

.lostdetail-separator {
    width: 2px;
    background-color: #000;
    /* 線の色を設定 */
    height: 100%;
    /* 線の高さを設定 */
    margin: 0 0;
    /* 線の左右の余白を設定 */
}


/* タグのスタイル */
.lostdetail-tag-container {
    /* border: 1px solid var(--color-border); */
    /* border-radius: 20px; */
    /* padding: 5px; */
    background-color: var(--color-light-gray);
    flex: 1;
    margin-left: 10px;
    text-align: center;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* タグをリスト形式に表示 */
.lostdetail-tag-list {
    list-style-type: disc;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lostdetail-tag-list li {
    position: relative;
    display: inline-block;
    margin: 0em .6em .6em;
    padding: .6em .9em .6em 1em;
    line-height: 1;
    color: #000;
    text-decoration: none;
    background-color: var(--color-tagmark);
    border-radius: 50px;
    border: 2px solid #000;
}


/* DetailDisplayセクションのスタイル */
.lostdetail-detail-display {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 350px;
    overflow: visible;
    position: relative;
    /* border: 3px outset var(--color-detailborder); */
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
}

.lostdetail-detail-display::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 10%;
    border: 20px solid transparent;
    border-bottom: 20px solid var(--color-background);
    /* var(--color-light-gray) */
}

.lostdetail-detail-display p {
    margin: 0;
    padding: 0;
}

.lostdetail-font {
    position: absolute;
    display: inline-block;
    top: -13px;
    padding: 5px 10px;
    line-height: 1;
    font-size: 19px;
    background: #e3e3e3ea;
    color: var(--color-dark-gray);
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
}

/* 詳細情報のボタン */
.lostdetail-detail-button {
    background-color: white;
    color: #000;
    border: none;
    /* padding: 5px 5px; */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    /* display: flex; */
    align-items: center;
    gap: 5px;
    width: 50px;
    height: 20px;
}

.lostdetail-detail-button:hover {
    background-color: #00000085;
}

/* メッセージのスタイル */
.lostdetail-inbtn {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-white);
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 入力ボタンの位置スタイル */
.lostdetail-input {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

/* ボタンすべての配色など */
.lostdetail-plus-button,
.lostdetail-camera-button,
.contbtn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.lostdetail-message-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 13px;
    border-radius: 30px;
    cursor: pointer;
}

::placeholder {
    color: white;
    text-align: center;
}

.lostdetail-plus-button:hover,
.lostdetail-camera-button:hover,
.contbtn:hover {
    background-color: var(--color-primary-dark);
}

.lostdetail-message-button {
    white-space: nowrap;
    flex-grow: 1;
}