
/*ユーザー名入力画面*/

.usernametitle{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.title1{
    margin-bottom: -20px;
}

.username{
    display: block;
    margin: auto;
    width: 300px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 5px;
}

/*決定ボタン*/
.decision{
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #b3efff;
    box-shadow: 0 3px 0 0 #76e8fa;
    cursor: pointer;
    margin-top: 20px;
}

/*ボタンが沈む*/
.decision:hover{
    box-shadow: none;
    transform:matrix();
    -webkit-transform: translateY(3px);
}