@media (max-width: 600px){

    body {
        background-color: #dfe2eb;
    }

    .Icon {
        border-radius: 50%;
        /* border: 2px solid #333; */
        margin-left: 5px;
        height: 70%;
        width: auto;
    }
    
    .search {
        position: relative;
        font-size: 4vh;
        top: 2.5vh;
        right: 1vh;
        border-radius: 50%;
        border: 3px solid black;
        background-color: white;
        z-index: 10;
    }
    
    .background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 11vh;
        background-color: rgb(88, 151, 234);
        border-bottom: 3px solid rgb(63, 63, 63);
        z-index:20;
    }
    
    .main-title {
        font-size: 2.3vh;
        margin-top: 2vh;
        margin-right: 4vh;
        color: white;
    }

    .backsr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 14%;
        width: 100%;
        height: 4vh;
        background-color: rgb(221, 252, 221);
        z-index: 19;
    }

    .serchresult{
        position: relative;
        top:3px;
        left: 15%;
        color: rgb(63, 63, 63);;
       
    }
    
    .main-post {
        margin-top: 5vh;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-background {
        padding-top: 8vh;
        padding-bottom: 15vh;
    }
    
    .main-postcard {
        position: relative;
        border: 2px solid rgb(55, 55, 55);
        border-radius: 5px;
        height: 20%;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        z-index:10;
    }
    
    .main-foot {
        width: 100%;
        height: 8%;
        border-top: 3px solid rgb(63, 63, 63);
        background-color: rgb(88, 151, 234);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
    }
    .past-btn{
        width: 4.7vh;
        height: auto;
        color: white;
    }
    
    .add-postbtn {
        margin-right: 3vh;
        width: 7.5vw;
        height: auto;
        color: rgb(88, 151, 234);
        border-radius: 50%;
        background-color: white;
    }
    
    .main-msg-btn {
        width: 4vh;
        height: auto;
        margin-left: 3vh;
        color: white;
    }
    
    .post-username {
        height: 60px;
        font-size: 1.8vh;
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: hidden;
    }
    
    .post-username img {
        padding: 10px;
        border-radius: 50%;
    }
    
    .postimg {
        border: 2.5px solid rgb(63, 63, 63);
        border-radius: 10px;
    }
    
    .post-main {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    
    .palce-and-toku{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .place {
        position: absolute;
        top: 2vh;
        right: 2vh;
        font-size: 2vh;
        border: 1px solid black;
        padding: 3px;
        background-color:rgb(221, 252, 221);
    }
    .text{
        display: flex;
    }
}

@media (min-width: 600px){

    body {
        background-color: #dfe2eb;
    }

    .Icon {
        border-radius: 50%;
        /* border: 2px solid #333; */
        margin-left: 30px;
        height: 80%;
        width: auto;
    }
    
    .search {
        position: relative;
        font-size: 8vh;
        top: 1.5vh;
        right: 2vh;
        border-radius: 50%;
        border: 2px solid black;
        background-color: white;
    }
    
    .background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 14vh;
        background-color: rgb(88, 151, 234);
        border-bottom: 3px solid rgb(63, 63, 63);
        z-index:20;
    }

    .backsr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 14%;
        width: 100%;
        height: 4vh;
        background-color: rgb(221, 252, 221);
        z-index: 19;
    }

    .serchresult{
        position: relative;
        top:3px;
        left: 15%;
        color: rgb(63, 63, 63);;
    }

    .main-title {
        font-size: 5vh;
        margin-top: 2vh;
        margin-right: 4vh;
        color: white;
    }
    
    .main-post {
        margin-top: 16vh;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-background {
        padding-bottom: 20vh;
    }
    
    .main-postcard {
        position: relative;
        border: 2px solid rgb(55, 55, 55);
        border-radius: 5px;
        height: 20%;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        z-index:10;
    }
    
    .main-foot {
        width: 100%;
        height: 10%;
        border-top: 3px solid rgb(63, 63, 63);
        background-color: rgb(88, 151, 234);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
    }
    .past-btn{
        width: 10vh;
        height: auto;
        color: white;
    }
    
    .add-postbtn {
        margin-right: 8vh;
        width: 4vw;
        height: auto;
        color: rgb(88, 151, 234);
        border-radius: 50%;
        background-color: white;
    }
    
    .main-msg-btn {
        width: 8vh;
        height: auto;
        padding-left: 8vh;
        color: white;
    }
    
    .post-username {
        height: 60px;
        font-size: 5vh;
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: hidden;
    }
    
    .post-username img {
        padding: 10px;
        border-radius: 50%;
    }
    
    .postimg {
        border: 2.5px solid rgb(63, 63, 63);
        border-radius: 10px;
    }
    
    .post-main {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    
    .palce-and-toku{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .place {
        position: absolute;
        top: 5vh;
        right: 5vh;
        font-size: 6vh;
        border: 1px solid black;
        padding: 3px;
        background-color:rgb(221, 252, 221);
    }
    .text{
        display: flex;
    }
}
.diasearch{
    position: fixed;
    top: 14%;
    right: 0px;
    transform: translate(50,50);
    background-color: #00000078;
    width: 200px;
    height: 150px;
    max-width: 200px;
    max-height: 150px;
    pointer-events: auto;
    z-index: 20;
}
.overlay{
    display: none;
    background-color: rgba(0,0,0,0)!important;
    pointer-events: none;
    z-index: 10;
}
.diatext{
    color: white;
}
/* .select-btn{
    display: flex;
} */
.Select-btn{
    width: 50px;
    text-align: center;
    background-color:white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px;
}
.selected{
    width: 50px;
    text-align: center;
    color: white;
    background-color:  rgb(103, 137, 177);
    border-color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 1px;
}
