@media (max-width: 600px){

    body {
        background-color: #dfe2eb;
        font-family: Arial, Helvetica, sans-serif;
    }

    .Icon {
        border-radius: 50%;
        /* border: 2px solid #333; */
        margin-left: 5px;
        height: 70%;
        width: auto;
    }
    
    .search {
        position: relative;
        font-size: 4vh;
        top: 2.5vh;
        right: 1vh;
        border-radius: 50%;
        border: 3px solid black;
        background-color: white;
        z-index: 10;
    }
    
    .background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 11vh;
        background-color: rgb(88, 151, 234);
        border-bottom: 3px solid rgb(63, 63, 63);
        z-index:20;
    }
    
    .main-title {
        font-size: 2.3vh;
        margin-top: 2vh;
        margin-right: 4vh;
        color: white;
    }
    .backsr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 11vh;
        width: 100%;
        height: 4vh;
        background-color: rgb(221, 252, 221);
        z-index: 20;
    }

    .diasearch {
        padding-left: 1vh;
        padding-top: 0.5vh;
        border: 1.5px solid rgb(64, 64, 64);
        border-radius: 5%;
        margin-top: -2vh;
        margin-right: 0.5vh;
    }

    .serchresult{
        position: relative;
        left: 15%;
        color: rgb(63, 63, 63);;
        font-size: 15px;;
    }
    
    .main-post {
        margin-top: 6vh;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-background {
        padding-top: 8vh;
        padding-bottom: 15vh;
    }
    
    .main-postcard {
        display: flex;
        position: relative;
        border: 2px solid rgb(55, 55, 55);
        border-radius: 5px;
        width: 95%;
        height: 23vh;
        background-color: white;
        border-radius: 10px;
        z-index:10;
    }

    .postimg {
        padding: 10px;
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    .post-void {
        width: 5vw;
    }

    .post-main {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    
    .post-username {
        margin-top: 0.5vh;
        align-self: flex-start;
        font-size: 1.6vh;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .post-username img {
        border-radius: 50%;
        width: 3.5vh;
        height: 3.5vh;
        margin-top: 0.3vh;
        margin-right: 0.5vh;
    }

    .post-text{
        font-size: 1.5vh;
        display: flex;
        margin: auto 0;
        word-wrap: break-word;
        width: 15vh;
        margin-left: 2vh;
    }

    .post-time{
        align-self: flex-end;
        font-size: 1.7vh;
        padding-bottom: 0.3vh;
        align-self: flex-end;
        padding-right: 0.7vh;
        font-weight: bold;
    }

    .main-foot {
        width: 100%;
        height: 8%;
        border-top: 3px solid rgb(63, 63, 63);
        background-color: rgb(88, 151, 234);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
    }
    .past-btn{
        width: 3.75vh;
        height: auto;
        color: white;
    }
    
    .add-postbtn {
        width: 7.5vw;
        height: auto;
        color: rgb(88, 151, 234);
        border-radius: 50%;
        background-color: white;
    }

    .add-formbtn {
        margin-right: 3vh;
        margin-top: 3px;
        width: 8vw;
        height: auto;
        color: rgb(88, 151, 234);
        border-radius: 50%;
        background-color: white;
    }
    
    .main-msg-btn {
        width: 4vh;
        height: auto;
        margin-left: 3vh;
        color: white;
    }
}

.diasearch{
    position: fixed;
    top: 11vh;
    right: 0px;
    transform: translate(50,50);
    background-color: #00000078;
    width: 200px;
    height: 150px;
    max-width: 200px;
    max-height: 150px;
    pointer-events: auto;
    z-index: 20;
}
.overlay{
    display: none;
    background-color: rgba(0,0,0,0)!important;
    pointer-events: none;
    z-index: 10;
}
.diatext{
    color: white;
    padding: 5px;
}
.Select-btn{
    width: 50px;
    height: 35px;
    text-align: center;
    background-color:white;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    margin: 2px;
}
.selected{
    width: 50px;
    height: 35px;
    text-align: center;
    color: white;
    background-color:  rgb(103, 137, 177);
    border-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 1px;
}


@media (min-width: 600px){

    body {
        background-color: #dfe2eb;
        font-family: Arial, Helvetica, sans-serif;
    }

    .Icon {
        border-radius: 50%;
        /* border: 2px solid #333; */
        margin-left: 4vh;
        height: 80%;
        width: auto;
    }
    
    .search {
        position: relative;
        font-size: 7vh;
        right: 5vh;
        border-radius: 50%;
        border: 3px solid black;
        background-color: white;
        z-index: 10;
    }
    
    .background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 11vh;
        background-color: rgb(88, 151, 234);
        border-bottom: 3px solid rgb(63, 63, 63);
        z-index:20;
    }
    
    .main-title {
        font-size: 5vh;
        margin-top: 2vh;
        margin-right: 4vh;
        color: white;
    }
    .backsr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 11vh;
        width: 100%;
        height: 8vh;
        background-color: rgb(221, 252, 221);
        z-index: 20;
    }

    .diasearch {
        padding-left: 1vh;
        padding-top: 0.5vh;
        border: 1.5px solid rgb(64, 64, 64);
        border-radius: 5%;
        margin-top: -2vh;
        margin-right: 0.5vh;
    }

    .serchresult{
        position: relative;
        left: 15%;
        color: rgb(63, 63, 63);;
        font-size: 5vh;;
    }
    
    .main-post {
        margin-top: 9vh;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-background {
        padding-top: 8vh;
        padding-bottom: 15vh;
    }
    
    .main-postcard {
        display: flex;
        position: relative;
        border: 2px solid rgb(55, 55, 55);
        border-radius: 5px;
        width: 90%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        z-index:10;
    }

    .postimg {
        border: 2.5px solid rgb(63, 63, 63);
        border-radius: 5px;
        width: 30%;
        height: auto;
        object-fit: cover;
    }

    .post-void {
        width: 3vw;
    }

    .post-main {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    
    .post-username {
        margin-top: 1vh;
        align-self: flex-start;
        font-size: 5.5vh;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .post-username img {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        margin-top: 1.5vh;
        margin-right: 1vh;
    }

    .post-text{
        font-size: 4.5vh;
        display: flex;
        margin: auto 0;
        word-wrap: break-word;
        width: 90%;
        margin-left: 5vh;
        padding-bottom: 5vh;
    }

    .post-time{
        align-self: flex-end;
        font-size: 5vh;
        padding-bottom: 1vh;
        align-self: flex-end;
        padding-right: 2vh;
        font-weight: bold;
    }

    .main-foot {
        width: 100%;
        height: 8%;
        border-top: 3px solid rgb(63, 63, 63);
        background-color: rgb(88, 151, 234);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
    }
    .past-btn{
        width: 6vh;
        height: auto;
        color: white;
    }
    
    .add-postbtn {
        width: 3.3vw;
        height: auto;
        color: rgb(88, 151, 234);
        border-radius: 50%;
        background-color: white;
    }
    
    .add-formbtn {
        margin-right: 3vh;
        margin-top: 3px;
        width: 3.5vw;
        height: auto;
        color: rgb(88, 151, 234);
        border-radius: 50%;
        background-color: white;
    }

    .main-msg-btn {
        width: 6vh;
        height: auto;
        margin-left: 3vh;
        color: white;
    }
}
