.serch-Title{
    text-align: center;
    margin-left: 200px;
    margin-top: -40px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(180, 250, 250);
}

.select-BackGround{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(250,250,250);
}

.select-Back{
    width: 5rem;
    height: 2.5rem;
    font: 20px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 8px;
}

.sS-Name{
    text-align: center;
}

.select-Seed{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.sG-Name{
    text-align: center;
}

.select-Gender{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.sN-Name{
    text-align: center;
}

.select-Name{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.sL-Name{
    text-align: center;
}

.select-Location{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.sT-Name{
    text-align: center;
}

.select-Time{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.select-Desition{
    color: white;
    font: 20px;
    font-weight: bold;
    background-color: blue;
    height: 2.5rem;
    width: 10rem;
    border-radius: 8px;
    border: none;
}

.Desition-poji{
    display: flex;
    justify-content: center;
}
