
/*地区選択*/

.searchtitle{
    text-align: center;
    padding-top: 50px;
}

.find{
    margin-bottom: -35px;
}
.or{
    margin-bottom: -35px;
}

.pulldown{
    display: flex;
    margin: auto;
    width: 250px;
    height: 45px;
    margin-top: 50px;
}