.addpost{
    height: 100vh;
    width: 100vw;
}
.blue{
    width: 100%;
    height: 70px;
    background-color: rgb(180, 250, 250);
}
.kindmain{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.threebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5%;
}

.kind-btns{
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 40%;
}

.kind-btn{
    margin-top: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 60%;
}
.back-btn{
    border-radius: 50%;

}