
/* ログインページ　*/

body{
    margin: 0px;
}

.rogTitle {
    color:white;
    font-size: 90px;
    text-align: center;
    position: absolute;
    padding-bottom: 400px;
    z-index: 1;
  }

.rogButton {
    background-color:rgb(250, 252, 186);
    color: black;
    font-family:sans-serif;
    border: 3px solid white;
    border-radius: 50px;
    width: 200px;
    height: 60px;
    margin-top: 450px;
    z-index: 1;
    position: relative;
}

.rogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(88, 151, 234);
    margin-bottom: 80px;
}

.block {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(115, 235, 161);
    position: absolute;
    z-index: 0;
  }
  